*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
.rootContainer{
    width: 100%;
    height: 100%;
    background-image: url("./pictures/Todo-List.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

